* { box-sizing: border-box;}
body { background-color: #EAEAEA;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
}
header { background-color: #48253F; 
	color: #FFFFFF;
	text-align: center;
}
header a { 
	text-decoration: none;
}
header a:link { 
	color: #F4EEEB;
}
header a:visited { 
	color: #F4EEEB;
}
header a:hover { 
	color: #BB8588;
}
nav {
	text-align: center;
	font-size: 120%;
	padding: 0;
	font-weight: bold;
}
nav ul { list-style-type: none;
	margin: 0;
	padding-left: 0;
	font-size: 1.2em;
}
nav a {
	text-decoration: none
}
nav a:link { 
	color: #857861;
}
nav a:visited { 
	color: #000000;
}
nav a:hover { 
	color: #48253F;
}
nav li { 
	border-bottom: 1px solid #48253F;
}
h1 { font-family: Georgia, "Time New Roman", serif;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	letter-spacing: 0.25em;
}
h2 { color: #29281E;
	font-family: Georgia, "Time New Roman", serif;
	text-shadow: 1px 1px 1px #48253F
}
h3 { color: #000033;
	font-family: Georgia, "Time New Roman", serif;
}
main { background-color: #F4EEEB;
	padding: 1px 20px 20px 20px;
	padding-left: 30px;
	display: block;
	overflow: auto;
}
dt { color: #002171;
}
.resort { color: #A3A380;
	font-weight: bold;
}
main ul { list-style-image: url(marker.gif);
}
footer { background-color: #F4EEEB;
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Time New Roman", serif;
	padding: 2em;
}
#contact { font-size: 90%;
}
#wrapper {
	background-color: #48252F;
	background-image: linear-gradient(to bottom, #FFFFFF, #48252F);
}
#homehero {height: 500px;
	background-image: url(sec.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
td, 
th {
    padding: 0.5em;
    border: 2px solid #3399CC;
}
td {
    text-align: center;}
.text {
    text-align: left;
}
tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}
form { 
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
input, 
textarea {
	margin-bottom: 0.5em;
}
@media (min-width: 600px) {
	nav ul { display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;}
	nav li { border-bottom: none;}
	section { margin-left: 2em;
		margin-right: 2em;
		flex: 1;}
	.flow { display: flex;
		flex-direction: row;}
	form { width: 60%;
        	max-width: 30em;
        	display: grid;
        	grid-gap: 1em;
        	grid-template-columns: 6em 1fr;}
	input[type="submit"] {
		grid-column: 2 / 3;
        	width: 9em;}
}
@media (min-width: 1024px) {
	#wrapper { margin: auto;
		width: 80%;
		border: 1px solid #48252F;
		box-shadow: 3px 3px 3px #48252F;}
	nav { text-align:  left;
		padding-left: 1em;}
	@supports (display: grid) { 
		nav ul { flex-direction: column;
			padding-top: 1em;}
		.hero { grid-area: hero;}
		header { grid-area: header;}
		nav {grid-area: nav;}
		main {grid-area: main;}
		footer {grid-area: footer;}
		#wrapper {
			display: grid;
			grid-template:
					"header header"
					"nav hero"
					"nav main"
					"nav footer"
					/ 180px 1fr;}
	}
}
video {
	max-width: 100%
	height:auto;
	display:block;
	float: none;
	margin: 1em 0;}

